body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.container {
  max-width: 1140px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #007bff;
}

button {
  font-size: 16px;
}


/* Responsive layout */
.accueil, .projects, .competences, .apropos, .contact {
  padding: 20px;
  margin: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .profile-photo {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }

  .profile-photo {
    width: 100px;
    height: 100px;
  }
}
